<div name="top">
    <h2 class="local-time">LOCAL TIME: {{cityWeather?.localTime}}</h2>
    <p>Coordinates: [ {{cityWeather?.lat}} ; {{cityWeather?.lon}} ] <br/>
        Time zone: {{cityWeather?.timezone}}
    </p>
    <button>Add to favorites</button>
</div>

<div name="center">
    <div class="title">    
        <h3 style="display: inline-block;">Title: {{cityWeather?.title}}</h3>
        <img style="display: inline-block; " src="http://openweathermap.org/img/wn/{{cityWeather?.weather?.icon}}.png">
    </div>
    <h4>Subtitle: {{cityWeather?.subtitle}}</h4>
</div>

<div name="footer">
    <p>Feels like: {{cityWeather?.feelsLike}} <br/>
        Humidity: {{cityWeather?.humidity}} % <br/>
        UV index: {{cityWeather?.uvIndex}} <br/>
        Visibility: {{cityWeather?.visibility}} km <br/>
        Pressure: {{cityWeather?.pressure}} mb <br/>
        Dew Point: {{cityWeather?.dewPoint}}
    </p>
</div>

<button>More</button>