<div name="top">
    <h2 class="local-time">LOCAL TIME: {{cityWeather?.localTime}}</h2>
    <p>Coordinates: {{cityWeather?.lat}} ; {{cityWeather?.lon}}</p>
    <p>{{cityWeather?.timezone}}</p>
    <button>Add to favorites</button>
</div>

<div name="center">
    <div class="title">    
        <h3 style="display: inline-block;">Title: {{cityWeather?.title}}</h3>
        <img style="display: inline-block; " src="http://openweathermap.org/img/wn/{{cityWeather?.weather?.icon}}.png">
    </div>
</div>