<div *ngIf="{cityWeather: cityWeather$ | async} as weather">
    <div name="top">
        <h2 class="local-time">LOCAL TIME: {{weather.cityWeather!.localTime}}</h2>
        <p>Coordinates: [ {{weather.cityWeather!.lat}} ; {{weather.cityWeather!.lon}} ] <br/>
            Time zone: {{(weather.cityWeather!)?.timezone}}
        </p>
        <button>Add to favorites</button>
    </div>
    
    <div name="center">
        <div class="title">    
            <h3 style="display: inline-block;">Title: {{weather.cityWeather!.title}}</h3>
            <img style="display: inline-block; " src="http://openweathermap.org/img/wn/{{weather.cityWeather!.weather?.icon}}.png">
        </div>
        <h4>Subtitle: {{weather.cityWeather!.subtitle}}</h4>
    </div>
    
    <div name="footer">
        <p>Feels like: {{weather.cityWeather!.feelsLike | convertToCelsius}} <br/>
            Humidity: {{weather.cityWeather!.humidity}} % <br/>
            UV index: {{weather.cityWeather!.uvIndex}} <br/>
            Visibility: {{weather.cityWeather!.visibility | convertToMeter}}<br/>
            Pressure: {{weather.cityWeather!.pressure}} mb <br/>
            Dew Point: {{weather.cityWeather!.dewPoint | convertToCelsius}}
        </p>
    </div>
    
    <button routerLink="/{{weather.cityWeather!.id}}/details">More</button>
</div>